<div class="container">
  <main class="main-content">
    <div class="content">
      <div class="main-copy">
        <h1>Hi! I'm <span class="no-break">Jimbo Rountree</span></h1>
        <p>I am a product designer and developer focused on creating digital 
          and design solutions for people and brands. I'm an advocate for user 
          testing and proper user experience.</p>  
          <!-- <a class="button" href="./assets/PreviewCaseStudies.pdf" target="_blank">Preview My Work</a> -->
          <a class="button-secondary" href="https://www.dropbox.com/s/r4p8w124jf9n0d5/JamesRountreeCaseStudies.pdf?dl=0" target="_blank">See My Work</a>

        </div>
        <div class="icon">
          <a class="icon-linkedin" href="https://www.linkedin.com/in/james-rountree/" target="_blank"><img src="./assets/LinkedIn.svg"/></a>
          <a class="icon-gmail" href="mailto:james.d.rountree@gmail.com"> <img src="./assets/Gmail.svg"/></a>
          <a class="icon-twitter" href="https://twitter.com/JamesDRountree" target="_blank"><img src="./assets/Twitter.svg"/></a>
        </div>
      </div>
      </main>
</div>