/* You can add global styles to this file, and also import other style files */
html {
}


body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'lato', ;
    margin: 0;
    min-width: 320px !important;
}
